#Notification{
    
    color: darkgreen;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #2E323C;
    background-color: #91B3BC;
}

h3{
    background-color:#2B4251;
    color:#91B3BC;
    padding: 10px;
    padding-left: 20px;
}

h4{
    color:#2E323C;
    padding: 10px;
    padding-left: 20px;
}

h5{
    background-color:#5B7D87;
    color:#2E323C;
    padding: 10px;
    padding-left: 20px;
}

.bg-primary{
    background-color: #91B3BC!important;
}

.list-group-item{
    overflow-wrap: break-word;
    background-color:#5B7D87;
    color:#2E323C;
}

.list-group-item-primary{
    background-color:#fff;
    color:#2E323C;
}

.btn-primary{
    background-color:#45415E;
    border-color:#2B4251;
    margin: 2px;
    padding: 5px;
}

.btn-primary:hover{
    background-color:#5B7D87;
    border-color:#2B4251;
    color:#2E323C;
}